/* File: css/style.css */
/* Color Theme Swatches in Hex */
:root {
    /* Couleurs de base */
    --bg-principal: #f0fdf4; /* Couleur de fond principale */
    --black: #000000; /* couleur noir */
    --white: #ffffff; /* couleur blanc */
    --cyan: #2aa198; /* couleur cyan */
    --magenta: #d33682; /* couleur magenta */
    --yellow: #b58900; /* couleur jaune */


    /* Couleurs pour les objets interactifs (boutons, cartes, etc.) */
    --bg-objet-principal: #0367A6;  /* Fond principal pour boutons, liens, etc. */
    --bg-objet-hover:     #0378A6;  /* Variante pour l'état survolé ou actif */

    /* Couleurs pour le contenu textuel ou les éléments d'accentuation */
    --texte-principal:    #575912;  /* Couleur principale pour le texte */
    --texte-titre:       #898C1F;  /* Couleur pour les titres ou éléments importants */

    /* Couleur pour les bordures ou éléments de séparation */
    --border-default:     #736029; /* Couleur par défaut pour les bordures */
}

/* Styles généraux */
body {
    background-color: var(--bg-principal);
    color: var(--texte-principal);

}

/* Exemple d'override pour le bouton principal Bootstrap */
.btn-primary {
    background-color: var(--bg-objet-principal);
    border-color: var(--border-default);
    color: var(--bg-principal);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--bg-objet-hover);
    border-color: var(--border-default);
}

.navbar {
    background-color: var(--bg-objet-principal);
    color: var(--texte-principal);
}

/* Section de présentation */
.presentation {
    background-image: url('/Public/img/Background.webp');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: var(--bg-principal);
    text-shadow: 2px 2px 7px var(--black);
}

/* Section de trajet */
.trajet {
text-align: center;
}

/* Section de a propos */
.about {
    text-align: center;
}

/* Section de pourquoi */
.why{
    text-align: center;
}

/* Section de fonction */
.function{
    text-align: center;
}
/* Exemple de bouton personnalisé */
.card-body {
    background-color: var(--bg-principal);
    color: var(--texte-principal);
    border-color: var(--border-default);
}

/* Vous pouvez ajouter d'autres styles personnalisés ici */
